

<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href=""><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><img src="img/logo/logosn.png" alt="" /></strong>
        </div>
        @*<div class="nalika-profile">
            <div class="profile-dtl">
                <a href=""><img src="img/notification/4.jpg" alt="" /></a>
                <h2><span class="min-dtn">اسم یارو</span></h2>
            </div>
        </div>*@
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a href="">
                            <i class="icon nalika-home icon-wrap"></i>
                            <span class="mini-click-non"> داشبورد </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon nalika-user icon-wrap"></i>
                            <span class="mini-click-non">نویسنده</span>
                        </a>
                    </li>


                    <li>
                        <a class="has-arrow" href="">
                            <i class="icon nalika-forms icon-wrap"></i>
                            <span class="mini-click-non">مطالب</span>

                        </a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="مطالب حذف شده" href=""><span class="mini-sub-pro">مطالب حذف شده</span></a></li>
                            <li><a title="مطالب منتشر شده" href=""><span class="mini-sub-pro">مطالب منتشر شده</span></a></li>
                            <li><a title="مطالب تعلیق شده" href=""><span class="mini-sub-pro">مطالب تعلیق شده</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="">
                            <i class="icon nalika-folder icon-wrap"></i>
                            <span class="mini-click-non">مدیریت فایل</span>

                        </a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="" href=""><span class="mini-sub-pro">ahan1</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="">
                            <i class="icon nalika-table icon-wrap"></i>
                            <span class="mini-click-non">دسته بندی</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon nalika-price-tag icon-wrap"></i>
                            <span class="mini-click-non">کلیدواژه</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon nalika-chat icon-wrap"></i>
                            <span class="mini-click-non">نظرات</span>
                        </a>
                    </li>





                </ul>
            </nav>
        </div>
    </nav>
</div>
