@model List<Category>


@if (Model != null)
{

    <div class="row d-flex justify-content-between">
        <h3 class="title-5 m-b-35">دسته بندی ها</h3>
        <div>
            <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-controller="Category" asp-action="Add">
                <i class="zmdi zmdi-plus"></i>افزودن
            </a>
        </div>
    </div>

    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="bg-light col-2 d-flex justify-content-between m-2 p-4 mx-3">
                <div>
                    @item.Name
                </div>
                <div class="table-data-feature">
                    <a class="item" style="z-index:1;" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                    <a class="item" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            دسته بندی یافت نشد!
        </div>
    </div>
}