@{
    ViewData["Title"] = " لینک با موفقیت ارسال شد";
    Layout = "_AccountLayout";
}


<div class="login-wrap">
    <div class="login-content">
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/icon/logo-yellow.png" alt="Danial CMS">
            </a>
        </div>
        <div class="login-form">
            <div class="form-group">
                <label class="text-center title-4">لینک با موفقیت ارسال شد</label>
                <a class="btn btn-warning w-100"
                   asp-controller="Account" asp-action="LogIn">صفحه ورود</a>
            </div>
        </div>
    </div>
</div>

