@model AddKeywordViewModel
@{
    ViewData["Title"] = "افزودن کلید واژه";
}



<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <form method="post" asp-controller="Keyword" asp-action="Add">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-tag mx-1"></i>
                    <small>افزودن</small>
                    <strong class="card-title pl-2">کلید واژه</strong>
                </div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label asp-for="@Model.Name" class="form-control-label"></label>
                        <input type="text" asp-for="@Model.Name" class="form-control" required maxlength="50" autofocus>
                    </div>
                    
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger mr-3"></div>
                    </div>
                </div>
                <div class="card-footer card-footer__button">
                    <input type="submit" class="btn btn-warning btn-sm px-3" value="افزودن" />
                </div>
            </div>
        </form>
    </div>
</div>