
<div class="col-lg-4">
    <span class="icon nalika-ppt author-log-ic"> ppt </span><br>
    <span class="icon nalika-price-tag author-log-ic"> price-tag </span><br>
    <span class="icon nalika-printer author-log-ic"> printer </span><br>
    <span class="icon nalika-refresh-button author-log-ic"> refresh-button </span><br>
    <span class="icon nalika-right-arrow-angle author-log-ic"> right-arrow-angle </span><br>
    <span class="icon nalika-rss author-log-ic"> rss </span><br>
    <span class="icon nalika-search author-log-ic"> search </span><br>
    <span class="icon nalika-settings author-log-ic"> settings </span><br>
    <span class="icon nalika-share author-log-ic"> share </span><br>
    <span class="icon nalika-shopping-cart author-log-ic"> shopping-cart </span><br>
    <span class="icon nalika-smartphone-call  author-log-ic"> smartphone-call  </span><br>
    <span class="icon nalika-speakers author-log-ic"> speakers </span><br>
    <span class="icon nalika-table author-log-ic"> table </span><br>
    <span class="icon nalika-team author-log-ic"> team </span><br>
    <span class="icon nalika-thumb-up author-log-ic"> thumb-up </span><br>
    <span class="icon nalika-tick author-log-ic"> tick </span><br>
    <span class="icon nalika-twitter author-log-ic"> twitter </span><br>
    <span class="icon nalika-unlocked author-log-ic"> unlocked </span><br>
    <span class="icon nalika-upload author-log-ic"> upload </span><br>
    <span class="icon nalika-user author-log-ic"> user</span><br>
    <span class="icon nalika-warning-sign author-log-ic"> warning-sign </span><br>
    <span class="icon nalika-xls author-log-ic"> xls </span><br>
    <span class="icon nalika-youtube author-log-ic"> youtube </span><br>
    <span class="icon nalika-youtube-logotype author-log-ic"> youtube-logotype </span><br>
    <span class="icon nalika-zip author-log-ic"> zip </span><br>
</div>
<div class="col-lg-4">
    <span class="icon nalika-alarm-clock author-log-ic"> alarm-clock</span><br>
    <span class="icon nalika-analytics author-log-ic"> analytics </span><br>
    <span class="icon nalika-arrow-back author-log-ic"> arrow-back </span><br>
    <span class="icon nalika-arrow-next author-log-ic"> arrow-next </span><br>
    <span class="icon nalika-back author-log-ic"> back </span><br>
    <span class="icon nalika-bar-chart author-log-ic"> bar-chart </span><br>
    <span class="icon nalika-chat author-log-ic"> chat </span><br>
    <span class="icon nalika-close author-log-ic"> close </span><br>
    <span class="icon nalika-cloud author-log-ic"> cloud </span><br>
    <span class="icon nalika-credit-cards author-log-ic"> credit-cards </span><br>
    <span class="icon nalika-delete-button author-log-ic"> delete-button </span><br>
    <span class="icon nalika-desktop author-log-ic"> desktop </span><br>
    <span class="icon nalika-diamond author-log-ic"> diamond </span><br>
    <span class="icon nalika-down-arrow author-log-ic"> down-arrow </span><br>
    <span class="icon nalika-download author-log-ic"> download </span><br>
    <span class="icon nalika-edit author-log-ic"> edit </span><br>
    <span class="icon nalika-exit author-log-ic"> exit </span><br>
    <span class="icon nalika-eye author-log-ic"> eye </span><br>
    <span class="icon nalika-facebook author-log-ic"> facebook </span><br>
    <span class="icon nalika-favorites author-log-ic"> favorites </span><br>
    <span class="icon nalika-favorites-button author-log-ic"> favorites-button </span><br>
    <span class="icon nalika-flag author-log-ic"> flag </span><br>
    <span class="icon nalika-folder author-log-ic"> folder </span><br>
    <span class="icon nalika-forms author-log-ic"> forms </span><br>
    <span class="icon nalika-gear author-log-ic"> gear </span><br>
</div>
<div class="col-lg-4">
    <span class="icon nalika-user author-log-ic"> user</span><br>
    <span class="icon nalika-alarm author-log-ic"> alarm </span><br>
    <span class="icon nalika-google-plus author-log-ic"> google-plus </span><br>
    <span class="icon nalika-half-filled-rating-star author-log-ic"> half-filled-rating-star </span><br>
    <span class="icon nalika-happiness author-log-ic"> happiness </span><br>
    <span class="icon nalika-home author-log-ic"> home </span><br>
    <span class="icon nalika-honeymoon author-log-ic"> honeymoon </span><br>
    <span class="icon nalika-inbox author-log-ic"> inbox </span><br>
    <span class="icon nalika-info author-log-ic"> info </span><br>
    <span class="icon nalika-like author-log-ic"> like </span><br>
    <span class="icon nalika-linkedin author-log-ic"> linkedin </span><br>
    <span class="icon nalika-mail author-log-ic"> mail </span><br>
    <span class="icon nalika-mastercard author-log-ic"> mastercard </span><br>
    <span class="icon nalika-menu author-log-ic"> menu </span><br>
    <span class="icon nalika-menu-task author-log-ic"> menu-task </span><br>
    <span class="icon nalika-new-file author-log-ic"> new-file </span><br>
    <span class="icon nalika-next author-log-ic"> next </span><br>
    <span class="icon nalika-paperclip-document-outline author-log-ic"> paperclip-document-outline </span><br>
    <span class="icon nalika-paper-plane author-log-ic"> paper-plane </span><br>
    <span class="icon nalika-paypal-logo-in-rectangular author-log-ic"> paypal-logo-in-rectangular </span><br>
    <span class="icon nalika-pdf author-log-ic"> pdf </span><br>
    <span class="icon nalika-picture author-log-ic"> picture </span><br>
    <span class="icon nalika-pie-chart author-log-ic"> pie-chart </span><br>
    <span class="icon nalika-pinterest author-log-ic"> pinterest </span><br>
    <span class="icon nalika-placeholder author-log-ic"> placeholder </span><br>
</div>

